:root {
  --color-primary: #ffffff;
  --color-secondary: #f7f7f7;
  --color-sidebarActive: #e9f5f7;
  --color-sidebarActiveText: #75c5c1;
  --color-primaryText: #464b50;
  --color-primaryBorder: #cdd6e9;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-plus-jakarta), sans-serif;
}
